
body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-image: url(images/bg.jpg);
}

.homepage-container {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 100%;
    max-width: 600px;
    position: relative;
    height: 650px;
}

.menu-container {
    display: flex;
    justify-content: flex-start;
}

.menu-contents {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.menu-contents p {
    margin-left: 10px;
    font-size: 25px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    color: #0056b3;
}

.menu {
    font-weight: bold;
    font-size: 1.2rem;
    margin-bottom: 10px;
}

.logo {
    max-width: 310px;
}

.sos-circle {
    position: relative;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background: radial-gradient(circle, rgba(255,0,0,1) 0%, rgba(255,99,71,1) 35%, rgba(255,165,0,1) 70%);
    display: flex;
    justify-content: center;
    align-items: center;
    animation: heartbeat 1s infinite;
    margin: 0 auto;
}

.sos-text {
    font-size: 3rem;
    color: white;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropbtn {
    background-color: #007bff;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 4px;
    width: 100%;
    left: 0;
    top: 100%;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #0056b3;
}

.sos-circle {
    animation: heartbeat 1s infinite;
}

@keyframes heartbeat {
    0%, 100% { transform: scale(1); }
    50% { transform: scale(1.2); }
}


@media screen and (max-width: 600px) {
    .logo {
        max-width: 200px;
    }

    .menu-contents .dropbtn {
        margin-right: 0;
    }
}
